.album-page {
    padding: 16px;
    font-family: Arial, sans-serif;
  
    h2 {
      margin-bottom: 12px;
    }
  
    .album-page-header {
      margin-bottom: 20px;
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
    }
  
    .album-page-types {
      margin-bottom: 20px;
    }
  
    .format-item-wrapper {
      margin-top: 10px;
  
      .format-item {
        margin-bottom: 10px;
      }
    }
  
    .album-page-reviews {
      margin-top: 30px;
  
      h2 {
        margin-bottom: 10px;
      }
    }
  }
  